<connectionStrings>
  <!-- DANGER : You should set this file for GIT IGNORE!! -->
  <add name="SBEntities" connectionString="metadata=res://*/Data.SBModel.csdl|res://*/Data.SBModel.ssdl|res://*/Data.SBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DB_SERVER;initial catalog=DB_CATALOG;persist security info=True;user id=DB_LOGIN;password=DB_PASSWORD;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>